.GetStartedinside {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  width: 100vw;
}

.GetStarted {
  display: flex;
  flex-direction: row;
}

.GetStarted .l {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100vh;
  align-items: center;
  background-color: rgb(250, 250, 250);
}
.GetStarted .r {
  flex-grow: 1;
  height: 100vh;
  display: flex;
}

.GetStarted .firstline {
  font-size: 28px;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  justify-content: center;
  width: 500px;
  height: 100vh;
  text-align: left;
  padding: 20px;
  color: rgb(6, 14, 48);
}
.GetStarted .first p {
  line-height: 40px;
}
.GetStarted .para p {
  font-size: 21px;
  width: 500px;
  font-weight: 400;
  margin-top: 2%;
  line-height: 30px;
  text-align: left;
  color: #808080;
}
.GetStarted .get {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.GetStarted .get img {
  text-align: center;
  align-content: center;
  height: 100vh;
}

.GetStartedinside .para2 {
  font-size: 24px;
  color: rgb(0, 0, 0);
  padding: 10px;
  text-align: center;
  justify-content: center;
  width: 60%;
  align-self: center;
}
